.bodycolor {
  background: #667db6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #667db6,
    #0082c8,
    #0082c8,
    #667db6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #667db6,
    #0082c8,
    #0082c8,
    #667db6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.shadow {
  -webkit-box-shadow: 0px 0px 5px 9px rgba(201, 201, 201, 1);
  -moz-box-shadow: 0px 0px 5px 9px rgba(201, 201, 201, 1);
  box-shadow: 0px 0px 5px 9px rgba(201, 201, 201, 1);
}

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background: rgb(255, 255, 255);
  color: #666;
}
.login-container {
  height: 100vh;
  width: 100%;
}
.login-form {
  margin: auto;
  width: 370px;
  padding: 15px;
  max-width: 100%;
}
.login-form .form-control {
  font-size: 15px;
  min-height: 48px;
  font-weight: 500;
}
.login-form a {
  text-decoration: none;
  color: #666;
}
.login-form a:hover {
  color: #2b2b2b;
}
.forgot-link {
  font-size: 13px;
}

.form-control:focus {
  border-color: #2b2b2b;
  box-shadow: 0 0 0 0.2rem rgba(114, 61, 190, 0.25);
}
.btn-custom {
  background: #2b2b2b;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  min-height: 48px;
}
.btn-custom:focus,
.btn-custom:hover,
.btn-custom:active,
.btn-custom:active:focus {
  background: #808080;
  border-color: #808080;
  color: #fff;
}
.btn-custom:focus {
  box-shadow: 0 0 0 0.2rem rgba(114, 61, 190, 0.25);
}

.scrollable {
  width: 110px;
  height: 110px;
  overflow: auto;
}

.link {
  color: #666 !important ;
}

.img-right {
  display: block;
  margin-left: 50%;
}

.fsize {
  font-size: 1.5em;
}
